*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: #fff;

}
#header{
    width:100%;
    height: 100vh;

    background-image: url(images/fa540b95-64c7-45dd-8fe4-a5bc42594075.jpeg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 8px 16%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: armenian;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background: #00ff22;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;

}
nav ul li a:hover::after{
    width: 98%;
}

.header-text{
    font-weight:bold;
    margin-top: 20%;
    font-size:30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff0000;

}
/* -------------------------------------about-------------------------------------------------------- */

#about{
    padding: 85px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-cl-1{
    flex-basis: 30%;

}
.about-cl-1 img{
    width: 100%;
    border-radius: 16px;
}
.about-cl-2{
    flex-basis: 65%;
}
.sub-title{
    font-size: 59px;
    font-weight: 599;
    color: #fff;

}
.tab-titles{
    display: flex;
    margin:18px 0 39px;
}
.tab-links{
    margin-right: 49px;
    font-size: 17px;
    font-weight: 498;
    cursor: pointer;
    position:relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 2px;
    background:#00ff22;
    position: absolute;
    left:0;
    bottom: -7px;
    transition: 0.8s;
}
.tab-links.active-links::after{
    width: 49%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: rgb(128, 26, 0);
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;

}




















