*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: #fff;

}
#header{
    width:100%;
    height: 100vh;

    background-image: url(images/fa540b95-64c7-45dd-8fe4-a5bc42594075.jpeg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 8px 16%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: armenian;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background: #00ff22;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;

}
nav ul li a:hover::after{
    width: 98%;
}

.header-text{
    font-weight:bold;
    margin-top: 20%;
    font-size:30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff0000;

}
/* -------------------------------------about-------------------------------------------------------- */

#about{
    padding: 85px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-cl-1{
    flex-basis: 30%;

}
.about-cl-1 img{
    width: 100%;
    border-radius: 16px;
}
.about-cl-2{
    flex-basis: 65%;
}
.sub-title{
    font-size: 59px;
    font-weight: 599;
    color: #fff;

}
.tab-titles{
    display: flex;
    margin:18px 0 39px;
}
.tab-links{
    margin-right: 49px;
    font-size: 17px;
    font-weight: 498;
    cursor: pointer;
    position:relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 2px;
    background:#00ff22;
    position: absolute;
    left:0;
    bottom: -7px;
    transition: 0.8s;
}
.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: rgb(128, 26, 0);
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;

}

/* ==============================services====================== */
#services{
    padding:30px 0;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top:50px;

}
.services-list div{
    
background: #262626;
padding: 40px;
font-size: 13px;
font-weight: 300;
border-radius:11px;
transition: background 0.5s, transform 0.5s;

}
.services-list div i{
    font-size: 51px;
    margin-bottom:30px;


}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div p{
    font-size: 20px;
    font-weight:200;
    margin-bottom:10px;
}
.learn-more{
    font-size: 20px;
    font-weight:100;
    margin-bottom:5px;
}

.services-list div a{
    text-decoration: none;
    color:#fff;
    font-size: 13px;
    margin-top:19px;
    display: inline-block;
}
.services-list div:hover{
    background: #51ff00;
    transform: translateY(-11px);

}

/* ======================Portfolio========================================================== */

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns:repeat(3,1fr); 
    grid-gap: 40px;
    margin-top:50px;
    align-items: stretch; /*#//new line added*/


}
.work{
    display:flex;
    flex-direction:column;
    height:100%;
    border-radius:10px;
    position:relative;
    overflow:hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    height:220px;
    display:block;
    object-fit:cover;
    transition:transform 0.5s;

}
.layer{
    width:100%;
    height:0%;
    background:linear-gradient(rgba(0,0,0,0.6), #51ff00);
    border-radius:10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    padding:0 40px;
    text-align:center;
    transition: height 0.5s;

}
.layer h3{
    font-weight:500;
    margin-bottom:20px;
}
.layer a{
    margin-top:20px;
    color:#51ff00;
    text-decoration:none;
    font-size:18px;
    line-height:60px;
    background:#fff;
    width:60px;
    height:60px;
    border-radius:50%;
    text-align:center;

    
}
.work:hover img{
    transform: scale(1.2)
}
.work:hover .layer{
    height:100%;  
}


















